body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}
.calculator {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    margin: 50px auto;
    padding: 20px;
    text-align: center;
    width: 300px;
}
.calculator input[type="text"] {
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 18px;
    margin-bottom: 10px;
    padding: 5px;
    text-align: right;
    width: 100%;
}
.button-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.button-row button {
    background-color: #ccc;
    border: none;
    border-radius: 3px;
    color: #333;
    cursor: pointer;
    font-size: 18px;
    height: 40px;
    width: 70px;
}
.dark-mode {
    background-color: #212121;
    color: #fff;
}
.dark-mode .calculator {
    background-color: #424242;
    color: #fff;
}
.dark-mode .button-row button:hover {
    background-color: #757575;
}

.dark-mode .button-row button:active {
    background-color: #8a8a8a;
}