html {
  height: 100vh;
}

body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lines {
  animation: moveLines 3s ease-in-out infinite, changeColor 6s ease-in-out infinite;
}

.cls-1 {
  fill: aqua;
}

.cls-2 {
  fill: #f15a24;
}


@keyframes moveLines {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateX(200px);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes changeColor {
  0% {
    background: linear-gradient(45deg, #ff0000, #ff8000, #ffff00, #00ff00, #0000ff, #8000ff, #ff00ff);
  }

  100% {
    background: linear-gradient(45deg, #ff00ff, #8000ff, #0000ff, #00ff00, #ffff00, #ff8000, #ff0000);
  }
}